body{
  margin: 0em;
  padding: 0em;
  /* background-color: rgb(53, 53, 54); */
}

.welcome{
  margin: 0em;
  /* padding: 0em; */
  
}
.container{
  margin: 0em;
  padding: 0em;
}
#bcg{
  height: 460px;
  width: 100vw;
  margin: 0em;
}